<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body>
    <img src="/templates/Webinfofinder.png" alt="">
    <form action="/" method="post">
        <p>Do you want to collect the information of Website or IP address?</p>
        <input type="radio" id="Website" name="fav_language" value="Website" required>
        <label for="Website">Website</label><br>
        <input type="radio" id="IP" name="fav_language" value="IP address" required>
        <label for="IP address">IP address</label><br><br>
        <label for="fname">Enter the address: </label>
        <input type="text" id="address" name="address" required><br>
        <div><input type="submit" value="OK!"></div>
        <div><input type="reset" value="reset"></div>
    </form>
</body>
</html>
